.tripcard{
    padding: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px #000;
}

.inlne{
    display: inline;
    width: 50%;
}

.right{
    float: right;
    text-align: right;
}

.tripcard div{
    padding: 5px;
}